.explore_header{
    display: flex;
    margin: 0.7rem 0.5rem;
}
.exp_account img{
    width: 35px;
}
.exp_input{
    margin-left: 0.5rem;
}
.exp_input input{
    width: 180%;
    height: 37px;
    border: none;
    border-radius: 30px;
    color: #fff;
    padding: 0.5rem;
    font-size: 1.02rem;
    background-color: #333;
    outline: none;
}
.exp_search{
    color: #ccc;
}
.exp_setting{
    margin-left: auto;
    font-size: 25px;
    margin-top: 0.2rem;

}
.exp_body{
    padding: 1rem;
}
.exp_body h3{
    font-size: 1.3rem;
    margin-bottom: 1.2rem;
}
.trend_card{
    display: flex;
    margin-top: 2rem;
}
.trend_more{
    margin-left: auto;
}
.trend_detail h5{
    color: rgb(132, 132, 132);
    font-weight: 400;
}
.exp_body a{
    text-decoration: none;
    margin-top: 2rem;
    color: rgb(10, 98, 207);
}
.explore{
    border-bottom: 1px solid rgb(39,39,39);
}
@media screen and (min-width:768px) {
    .exp_input input{
        width: 400px;
    }
    .exp_account{
        display: none;
    }
   
}
